.HomeWrapper {
  @include box($height: auto);
  @include make-flex($just: flex-start);
  overflow-x: hidden;
  .HeroSection {
    @include box(100vw, 580px);
    max-width: 1152px;
    position: relative;
    @include make-flex($dir: row, $just: flex-start);

    @include respondAt(1518px) {
      width: 90vw;
    }

    @include respondAt(1016px) {
      // height: 430px;
      height: 510px;
    }
    @include respondAt(840px) {
      height: auto;
      min-height: 600px;
    }

    @include respondAt(915px) {
      margin-top: 80px;
    }

    &__left {
      @include box(50%);
      @include make-flex();
      border-radius: 30px 0 0 30px;
      position: relative;
      // gap: 25px;

      @include respondAt(840px) {
        width: 100%;
        border-radius: 20px;
      }
    }
    &__right {
      @include box(50%);
      @include make-flex();
      mix-blend-mode: exclusion;
      position: absolute;
      right: 0px;
      z-index: -1;
      transform: rotate(180deg);
      object-fit: cover;

      @include respondAt(840px) {
        display: none;
      }

      &--heroImage {
        transform: rotate(180deg);
        height: 80%;
        @include respondAt(1016px) {
          height: 83%;
        }
      }
    }

    &__top {
      @include make-flex($just: space-around);
      @include box($height: auto);
      min-height: 65%;

      // gap: 15%;
      @include respondAt(1016px) {
        gap: 30px;
        height: auto;
      }

      @include respondAt(840px) {
        gap: 40px;
      }

      &--title {
        font-size: 60px;
        color: #404040;
        font-weight: 700;

        @include respondAt(840px) {
          text-align: center;
        }
        p {
          font-size: 50px;
        }
        span {
          color: #3eab59;
          position: relative;
          &::after {
            position: absolute;
            left: 16px;
            transform: rotate(354deg);
            bottom: 3px;

            content: url(/Img/HeroUnderline.png);
            @include box(100px, 30px);
          }
        }
      }
    }

    &__bottom {
      @include make-flex($dir: row, $just: flex-start);
      @include box(100%, auto);
      column-gap: 20px;
      row-gap: 10px;
      flex-wrap: wrap;

      span {
        @include box(100%, auto);
        color: #52575a;
      }

      @include respondAt(840px) {
        justify-content: center;
        flex-wrap: wrap;
      }

      @include respondAt(445px) {
        a {
          flex-grow: 1;
        }
      }
    }
  }
}
