.HomeWrapper {
  @include make-flex($dir: column, $just: flex-start);
  @include box($height: unset);
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  .HeroSection {
    @include box(100vw, 750px);
    // overflow: hidden;
    position: relative;
    background-color: #f6f6f6;
    background-image: url(/Img/Hero3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include make-flex($dir: row);

    &__main {
      @include box($height: calc(100% - 123px));
      max-width: 1152px;
      position: relative;
      margin-top: 123px;
      @include make-flex($just: flex-end, $align: flex-start);
      gap: 80px;
      @include respondAt(1518px) {
        width: 90vw;
      }

      @include respondAt(1016px) {
        // height: 430px;
        height: 510px;
      }
      @include respondAt(840px) {
        height: auto;
        min-height: 600px;
      }

      @include respondAt(915px) {
        margin-top: 80px;
      }

      &--cta {
        @include box(100%, auto);
        @include make-flex($dir: row, $just: flex-start);
        gap: 20px;
      }

      &--header {
        h1 {
          font-family: "Playfair Display", serif;
          font-size: 60px;
          color: white;
        }
      }
      p {
        color: #f6f6f6;
        font-family: "Montserrat", sans-serif;
      }

      &--top {
        @include box(100%, auto);
        @include make-flex($just: space-between, $align: flex-start);
        gap: 25px;
      }

      &--bottom {
        @include box(100%, auto);
        @include make-flex($dir: row, $just: space-between, $align: flex-start);
        gap: 25px;
        margin-bottom: -65px;
        position: relative;
        z-index: 1;
      }
    }

    &__card {
      @include box(330px, 130px);
      background-color: white;
      border-radius: 1px;
      box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.24);
      @include make-flex($dir: row, $just: space-between);
      padding: 20px;
      gap: 20px;

      h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        font-weight: 500;
      }

      img {
        height: 80%;
      }
    }
  }
}
