.FancyInput {
  @include box(100%, 38px);
  border-radius: 4px;
  color: #474747;
  background-color: #ffffff;
  border: 1px solid hsl(0, 0%, 80%);
  font-family: "Lato", sans-serif;
  font-size: 15px;
  padding: 6px 10px;

  &:focus-visible {
    outline: none;
  }
}
